/* ****************************** resets / universal ****************************** */

* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

/* ******************************  ****************************** */

body > * {
  max-width: 1000px;
  margin: auto;
}

h1, h2 {
  text-align: center;
  align-content: center;
}

.header-section, #add-book, .books > * {
  display: grid;
}

.header-section {
/*   grid-template-columns: repeat(3, minmax(0, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
}

.header-section > h1 {
  grid-column-start: 2;
}

.counts {
  grid-column-start: 3;
  justify-self: right;
}

.form-control {
  display: flex;
  flex-direction: column;
}

#add-book, .books > * {
  grid-template-columns: 35% 35% 15% 15%;
}
