/* ****************************** resets / universal ****************************** */

* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

:root {
  --add: rgb(100, 125, 75);
  --add-hover: rgb(80, 105, 55);
  --add-focus: rgb(60, 85, 35);
  --remove: rgb(225, 230, 235);
  --remove-hover: rgb(200, 205, 210);
  --remove-focus: rgb(170, 175, 180);
}

/* ****************************** shared ****************************** */

body > * {
  max-width: 1000px;
  margin: auto;
}

.header-section, #add-book, .books, .books > * {
  display: grid;
}

#add-book, .books > * {
  grid-template-columns: 35% 35% 15% 15%;
}

h1, h2 {
  text-align: center;
  align-content: center;
}

#add-book button, .remove {
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 5px;
}

/* ****************************** header section ****************************** */

.header-section {
/*   grid-template-columns: repeat(3, minmax(0, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.header-section > h1 {
  grid-column-start: 2;
}

.counts {
  grid-column-start: 3;
  justify-self: right;
  border: 1px solid gray;
  padding: 8px;
}

/* ****************************** add book form section ****************************** */

.add-book-section {
  margin-top: 25px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

#add-book button {
  background-color: var(--add);
  color: white;
  font-size: 16px;
}

#add-book button:hover {
  background-color: var(--add-hover);
}

#add-book button:focus {
  background-color: var(--add-focus);
}

/* ****************************** books section ****************************** */

.books-section {
  margin-top: 35px;
}

.books-section > h2 {
  margin-bottom: 10px;
}

.books {
  gap: 10px;
}

.remove {
  background-color: var(--remove);
  font-size: 16px;
  justify-self: right;
}

.remove:hover {
  background-color: var(--remove-hover);
}

.remove:focus {
  background-color: var(--remove-focus);
}
